<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5.10//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PhamKornbluhGroup.mybatismysqlimpl.ICrucibleNodeDTO">

    <resultMap id="CrucibleNodeDTOMap" type="com.PhamKornbluhGroup.DTO.CrucibleNodeDTO" autoMapping="false">
        <id property="dbId" column="dbId"/>
        <result property="crucibleId" column="crucibleId"/>
        <result property="skill" column="skill"/>
        <result property="tier" column="tier"/>
        <result property="icon" column="icon"/>
        <result property="allocated" column="allocated"/>
        <result property="isNotable" column="isNotable"/>
        <result property="isReward" column="isReward"/>
        <result property="stats" column="stats"/>
        <result property="reminderText" column="reminderText"/>
        <result property="orbit" column="orbit"/>
        <result property="orbitIndex" column="orbitIndex"/>
        <result property="out" column="out"/>
        <result property="in" column="in"/>
        <result property="crucibleNodeIndex" column="crucibleNodeIndex"/>
    </resultMap>

    <select id="getEntityById" resultMap="CrucibleNodeDTOMap">
        <![CDATA[
            SELECT *
            FROM CrucibleNode
            WHERE dbId = #{dbId}
        ]]>
    </select>

    <select id="getEntityByCrucibleId" resultMap="CrucibleNodeDTOMap">
        <![CDATA[
            SELECT *
            FROM CrucibleNode
            WHERE crucibleId = #{dbId}
        ]]>
    </select>

    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="dbId">
        <![CDATA[
            INSERT INTO CrucibleNode
                (crucibleId, skill, tier, icon, allocated, isNotable, isReward,
                stats, reminderText, orbit, orbitIndex, `out`, `in`, crucibleNodeIndex)
            VALUES (#{crucibleId}, #{skill}, #{tier}, #{icon}, #{allocated},
                #{isNotable}, #{isReward}, #{stats}, #{reminderText},
                #{orbit}, #{orbitIndex}, #{out}, #{in}, #{crucibleNodeIndex})
        ]]>
    </insert>

    <delete id="removeEntity">
        <![CDATA[
            DELETE FROM CrucibleNode
            WHERE dbId = #{dbId}
        ]]>
    </delete>

    <update id="updateEntity">
        <![CDATA[
            UPDATE CrucibleNode
            SET crucibleId = #{crucibleId},
                skill = #{skill},
                tier = #{tier},
                icon = #{icon},
                allocated = #{allocated},
                isNotable = #{isNotable},
                isReward = #{isReward},
                stats = #{stats},
                reminderText = #{reminderText},
                orbit = #{orbit},
                orbitIndex = #{orbitIndex},
                `out` = #{out},
                `in` = #{in},
                crucibleNodeIndex = #{crucibleNodeIndex}
            WHERE dbId = #{dbId}
        ]]>
    </update>

</mapper>