<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.5.10//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PhamKornbluhGroup.mybatismysqlimpl.IHybridDTO">

        <!--
        Hybrid ==> Calls Select of ItemProperty
        ItemProperty ==> Calls Select of ItemPropertyValues

        Assume we select HybridDTO with dbid of 5
        Assume ItemPropertyDTO has personal DbId of 25, but has HybridId = 5 (Correctly linked to the parent)
        Assume ItemPropertyValuesDTO has personal DbId of 50, but has ItemPropertyId of 25 (Correctly linked to the parent)

        We need to make sure that when calling from Hybrid, down to ItemProperty, down to ItemPropertyValues
        that the correct DbId is being passed each time
        -->
    <resultMap id="HybridDTOMap" type="com.PhamKornbluhGroup.DTO.HybridDTO" autoMapping="false">
        <id property="dbId" column="dbId"/>
        <result property="itemId" column="itemId"/>
        <result property="isVaalGem" column="isVaalGem"/>
        <result property="baseTypeName" column="baseTypeName"/>
        <result property="explicitMods" column="explicitMods"/>
        <result property="secDescrText" column="secDescrText"/>
        <collection property="properties" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.ItemPropertyDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyDTO.getEntityByHybridId"/>
    </resultMap>

    <!-- UNTESTED -->
    <select id="getEntityById" resultMap="HybridDTOMap">
        <![CDATA[
        SELECT
            dbId,
            itemId,
            isVaalGem,
            baseTypeName,
            explicitMods,
            secDescrText
        FROM Hybrid
        WHERE Hybrid.dbId = #{dbId}
		]]>
    </select>

    <!-- UNTESTED -->
    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="dbId" keyColumn="dbId">
        <![CDATA[
			INSERT INTO Hybrid
			    (itemId, isVaalGem, baseTypeName, explicitMods, secDescrText)
			VALUES (#{itemId}, #{isVaalGem}, #{baseTypeName}, #{explicitMods}, #{secDescrText})
		]]>
    </insert>

    <!-- UNTESTED -->
    <update id="updateEntity">
        <![CDATA[
			UPDATE Hybrid
			SET itemId = #{itemId},
			    isVaalGem = #{isVaalGem},
			    baseTypeName = #{baseTypeName},
			    explicitMods = #{explicitMods},
			    secDescrText = #{secDescrText}
			WHERE dbId = #{dbId}
		]]>
    </update>

    <!-- UNTESTED -->
    <delete id="removeEntity">
        <![CDATA[
			DELETE FROM Hybrid
			WHERE dbId = #{dbId}
		]]>
    </delete>

</mapper>