<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5.10//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyValuesDTO">

    <resultMap type = "com.PhamKornbluhGroup.DTO.ItemPropertyValuesDTO" id = "ItemPropertyValuesDTOMap" autoMapping = "false">
        <id property = "dbId" column = "dbId"/>
        <result property = "itemPropertyId" column = "itemPropertyId"/>
        <result property = "value" column = "value"/>
        <result property = "valueType" column = "valueType"/>
    </resultMap>

    <select id = "getEntityById"> resultMap = "IItemPropertyValuesDTO"
        <![CDATA[
			SELECT *
			FROM `poe-oracle`.ItemPropertyValues
			WHERE dbId = #{dbId}
		]]>
    </select>

    <insert id = "saveEntity" useGeneratedKeys = "true" keyProperty = "dbId">
        <![CDATA[
			INSERT INTO `poe-oracle`.ItemPropertyValues
			    (itemPropertyId, value, valueType)
			VALUES (#{itemPropertyId}, #{value}, #{valueType})
		]]>
    </insert>

    <delete id = "removeEntity">
        <![CDATA[
			DELETE FROM `poe-oracle`.ItemPropertyValues
			WHERE dbId = #{dbId}
		]]>
    </delete>

    <update id = "updateEntity">
        <![CDATA[
			UPDATE `poe-oracle`.ItemPropertyValues
			SET itemPropertyId = #{itemPropertyId},
			    value = #{value},
			    valueType = #{valueType},
			WHERE dbId = #{dbId},
		]]>
    </update>

</mapper>