<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.5.19//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PhamKornbluhGroup.mybatismysqlimpl.IItemDTO">

    <resultMap id="ItemDTOMap" type="com.PhamKornbluhGroup.DTO.ItemDTO" autoMapping="false">
        <id property="dbId" column="dbId"/>

        <!--========== String ==========-->
        <result property="artFilename" column="artFilename"/>
        <result property="baseType" column="baseType"/>
        <result property="colour" column="colour"/>
        <result property="descrText" column="descrText"/>
        <result property="flavourTextNote" column="flavourTextNote"/>
        <result property="forum_note" column="forum_note"/>
        <result property="icon" column="icon"/>
        <result property="id" column="id"/>
        <result property="inventoryId" column="inventoryId"/>
        <result property="league" column="league"/>
        <result property="name" column="name"/>
        <result property="note" column="note"/>
        <result property="prophecyText" column="prophecyText"/>
        <result property="rarity" column="rarity"/>
        <result property="secDescrText" column="secDescrText"/>
        <result property="stackSizeText" column="stackSizeText"/>
        <!--========== boolean ==========-->
        <result property="typeLine" column="typeLine"/>
        <result property="abyssJewel" column="abyssJewel"/>
        <result property="cisRaceReward" column="cisRaceReward"/>
        <result property="corrupted" column="corrupted"/>
        <result property="delve" column="delve"/>
        <result property="duplicated" column="duplicated"/>
        <result property="elder" column="elder"/>
        <result property="foreseeing" column="foreseeing"/>
        <result property="fractured" column="fractured"/>
        <result property="identified" column="identified"/>
        <result property="isRelic" column="isRelic"/>
        <result property="lockedToAccount" column="lockedToAccount"/>
        <result property="lockedToCharacter" column="lockedToCharacter"/>
        <result property="memoryItem" column="memoryItem"/>
        <result property="replica" column="replica"/>
        <result property="ruthless" column="ruthless"/>
        <result property="seaRaceReward" column="seaRaceReward"/>
        <result property="searing" column="searing"/>
        <result property="shaper" column="shaper"/>
        <result property="split" column="split"/>
        <result property="support" column="support"/>
        <result property="synthesised" column="synthesised"/>
        <result property="tangled" column="tangled"/>
        <result property="thRaceReward" column="thRaceReward"/>
        <result property="unmodifiable" column="unmodifiable"/>
        <result property="veiled" column="veiled"/>
        <result property="verified" column="verified"/>
        <result property="unmodifiableExceptChaos" column="unmodifiableExceptChaos"/>
        <!--========== int ==========-->
        <result property="foilVariation" column="foilVariation"/>
        <result property="ilvl" column="ilvl"/>
        <result property="itemLevel" column="itemLevel"/>
        <result property="maxStackSize" column="maxStackSize"/>
        <result property="publicStashChangeId" column="publicStashChangeId"/>
        <result property="stackSize" column="stackSize"/>
        <result property="talismanTier" column="talismanTier"/>
        <!--========== long ==========-->
        <result property="h" column="h"/>
        <result property="socket" column="socket"/>
        <result property="w" column="w"/>
        <result property="x" column="x"/>
        <result property="y" column="y"/>

        <!--========== enum ==========-->
        <result property="frameType" column="frameType" javaType="com.PhamKornbluhGroup.DTO.FrameType" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>

        <!--========== Objects ==========-->
        <association property="crucible"
             column="dbId"
             javaType="com.PhamKornbluhGroup.DTO.CrucibleDTO"
             select="com.PhamKornbluhGroup.mybatismysqlimpl.ICrucibleDTO.getEntityByItemId"
             autoMapping="true"/>
        <association property="extended"
             column="dbId"
             javaType="com.PhamKornbluhGroup.DTO.ExtendedDTO"
             select="com.PhamKornbluhGroup.mybatismysqlimpl.IExtendedDTO.getEntityByItemId"
             autoMapping="true"/>

        <association property="hybrid"
             column="dbId"
             javaType="com.PhamKornbluhGroup.DTO.HybridDTO"
             select="com.PhamKornbluhGroup.mybatismysqlimpl.IHybridDTO.getEntityByItemId"
             autoMapping="true"/>
        <association property="incubatedItem"
             column="dbId"
             javaType="com.PhamKornbluhGroup.DTO.IncubatedItemDTO"
             select="com.PhamKornbluhGroup.mybatismysqlimpl.IIncubatedItemDTO.getEntityByItemId"
             autoMapping="true"/>
        <association property="influences"
                     column="dbId"
                     javaType="com.PhamKornbluhGroup.DTO.InfluencesDTO"
                     select="com.PhamKornbluhGroup.mybatismysqlimpl.IInfluencesDTO.getEntityByItemId"
                     autoMapping="true"/>
        <association property="scourged"
             column="dbId"
             javaType="com.PhamKornbluhGroup.DTO.ScourgedDTO"
             select="com.PhamKornbluhGroup.mybatismysqlimpl.IScourgedDTO.getEntityByItemId"
             autoMapping="true"/>

        <!--========== ArrayList<String> ==========-->
        <collection property="cosmeticMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getCosmeticModsByExtendedId">
            <result property="cosmeticMod" column="cosmeticMod"/>
        </collection>
        <collection property="craftedMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getCraftedModsByExtendedId">
            <result property="craftedMod" column="craftedMod"/>
        </collection>
        <collection property="crucibleMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getCrucibleModsByExtendedId">
            <result property="crucibleMod" column="crucibleMod"/>
        </collection>
        <!-- Having collection name and property name be the same might cause an issue. -->
        <collection property="enchantMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getEnchantModsByExtendedId">
            <result property="enchantMod" column="enchantMod"/>
        </collection>
        <collection property="explicitMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getExplicitModsByExtendedId">
            <result property="explicitMod" column="explicitMod"/>
        </collection>
        <!-- Having collection name and property name be the same might cause an issue. -->
        <collection property="flavourText" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getFlavourTextByExtendedId">
            <result property="flavourText" column="flavourText"/>
        </collection>
        <collection property="fracturedMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getFracturedModsByExtendedId">
            <result property="fracturedMod" column="fracturedMod"/>
        </collection>
        <collection property="implicitMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getImplicitModsByExtendedId">
            <result property="implicitMod" column="implicitMod"/>
        </collection>
        <collection property="scourgeMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getScourgeModsByExtendedId">
            <result property="scourgeMod" column="scourgeMod"/>
        </collection>
        <collection property="utilityMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getUtilityModsByExtendedId">
            <result property="utilityMod" column="utilityMod"/>
        </collection>
        <collection property="veiledMods" column="dbId" javaType="ArrayList" ofType="java.lang.String"
        select="getVeiledModsByExtendedId">
            <result property="veiledMod" column="veiledMod"/>
        </collection>


        <!--========== ArrayList of various objects ==========-->

        <collection property="additionalProperties" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.ItemPropertyDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyDTO.getAdditionalPropertiesByItemId"/>
        <collection property="nextLevelRequirements" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.ItemPropertyDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyDTO.getNextLevelRequirementsByItemId"/>
        <collection property="notableProperties" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.ItemPropertyDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyDTO.getNotablePropertiesByItemId"/>
        <collection property="properties" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.ItemPropertyDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyDTO.getPropertiesByItemId"/>
        <collection property="requirements" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.ItemPropertyDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyDTO.getRequirementsByItemId"/>
        <collection property="sockets" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.ItemSocketDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IItemSocketDTO.getEntityByItemId"/>
        <collection property="logbookMods" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.LogbookModsDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.ILogbookModsDTO.getEntityByItemId"/>
        <!-- Having collection name and property name be the same might cause an issue. -->
        <!-- this is mapped to ArrayList<Object> flavourTextParsed
        Documentation never specifies what type of object this is. This might cause problems -->
        <collection property="flavourTextParsed" column="dbId" javaType="ArrayList" ofType="java.lang.Object">
            <result property="flavourTextParsed" column="flavourTextParsed"/>
        </collection>
        <collection property="rewards" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.RewardsDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IRewardsDTO.getEntityByItemId"/>
        <collection property="ultimatumMods" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.UltimatumModsDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IUltimatumModsDTO.getEntityByItemId"/>
    </resultMap>

    <!-- UNTESTED -->
    <select id="getEntityById" resultMap="ItemDTOMap">
        <![CDATA[
        SELECT
            artFilename,
            baseType,
            colour,
            flavourTextNote,
            forum_note,
            icon,
            id,
            inventoryId,
            league,
            name,
            note,
            prophecyText,
            rarity,
            secDescrText,
            stackSizeText,
            typeLine,
            abyssJewel,
            cisRaceReward,
            corrupted,
            delve,
            duplicated,
            elder,
            foreseeing,
            fractured,
            identified,
            isRelic,
            lockedToAccount,
            lockedToCharacter,
            memoryItem,
            replica,
            ruthless,
            seaRaceReward,
            searing,
            shaper,
            split,
            support,
            synthesised,
            tangled,
            thRaceReward,
            unmodifiable,
            veiled,
            verified,
            unmodifiableExceptChaos,
            foilVariation,
            ilvl,
            itemLevel,
            maxStackSize,
            publicStashChangeId,
            stackSize,
            talismanTier,
            h,
            socket,
            w,
            x,
            y
        FROM Item
        WHERE Item.dbId = #{dbId}
		]]>
    </select>

    <select id="getCosmeticModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT CosmeticMods.cosmeticMod
        FROM CosmeticMods
        WHERE CosmeticMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getCraftedModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT CraftedMods.craftedMod
        FROM CraftedMods
        WHERE CraftedMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getCrucibleModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT CrucibleMods.crucibleMod
        FROM CrucibleMods
        WHERE CrucibleMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getEnchantModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT EnchantMods.enchantMod
        FROM EnchantMods
        WHERE EnchantMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getExplicitModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT ExplicitMods.explicitMod
        FROM ExplicitMods
        WHERE ExplicitMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getFlavourTextByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT FlavourText.flavourText
        FROM FlavourText
        WHERE FlavourText.itemId = #{dbId}
		]]>
    </select>

    <select id="getFracturedModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT FracturedMods.fracturedMod
        FROM FracturedMods
        WHERE FracturedMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getImplicitModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT ImplicitMods.implicitMod
        FROM ImplicitMods
        WHERE ImplicitMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getScourgeModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT ScourgeMods.scourgeMod
        FROM ScourgeMods
        WHERE ScourgeMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getUtilityModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT UtilityMods.utilityMod
        FROM UtilityMods
        WHERE UtilityMods.itemId = #{dbId}
		]]>
    </select>

    <select id="getVeiledModsByExtendedId" resultType="java.lang.String">
        <![CDATA[
        SELECT VeiledMods.veiledMod
        FROM VeiledMods
        WHERE VeiledMods.itemId = #{dbId}
		]]>
    </select>

    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="dbId">
        <![CDATA[
			INSERT INTO Item
			    (publicStashChangeId, verified, w, h, icon, support, stackSize, maxStackSize, stackSizeText,
			    league, id, shaper, searing, tangled, abyssJewel, delve, fractured, synthesised, name, typeLine, baseType,
			    rarity, identified, itemLevel, ilvl, note, forum_note, lockedToCharacter, memoryItem, lockedToAccount, duplicated,
			    split, corrupted, unmodifiable, unmodifiableExceptChaos, cisRaceReward, seaRaceReward, thRaceReward, talismanTier, secDescrText,
			    veiled, descrText, flavourTextNote, prophecyText, isRelic, foilVariation, replica, foreseeing, ruthless,
			    artFilename, x, y, inventoryId, socket, colour, elder, frameType)
			VALUES
			    (#{publicStashChangeId}, #{verified}, #{w}, #{h}, #{icon}, #{support}, #{stackSize},
			    #{maxStackSize}, #{stackSizeText}, #{league}, #{id}, #{shaper}, #{searing}, #{tangled}, #{abyssJewel},
			    #{delve}, #{fractured}, #{synthesised}, #{name}, #{typeLine}, #{baseType}, #{rarity}, #{identified},
			    #{itemLevel}, #{ilvl}, #{note}, #{forum_note}, #{lockedToCharacter}, #{memoryItem}, #{lockedToAccount}, #{duplicated},
			    #{split}, #{corrupted}, #{unmodifiable}, #{unmodifiableExceptChaos}, #{cisRaceReward}, #{seaRaceReward}, #{thRaceReward}, #{talismanTier},
			    #{secDescrText}, #{veiled}, #{descrText}, #{flavourTextNote}, #{prophecyText}, #{isRelic}, #{foilVariation},
			    #{replica}, #{foreseeing}, #{ruthless}, #{artFilename}, #{x}, #{y}, #{inventoryId}, #{socket}, #{colour},
			    #{elder}, #{frameType, typeHandler=org.apache.ibatis.type.EnumTypeHandler})
		]]>
    </insert>

    <select id="getEntityByPublicStashChangeId" resultMap="ItemDTOMap">
        <![CDATA[
        SELECT
            dbId,
            artFilename,
            baseType,
            colour,
            flavourTextNote,
            forum_note,
            icon,
            id,
            inventoryId,
            league,
            name,
            note,
            prophecyText,
            rarity,
            secDescrText,
            stackSizeText,
            typeLine,
            abyssJewel,
            cisRaceReward,
            corrupted,
            delve,
            duplicated,
            elder,
            foreseeing,
            fractured,
            identified,
            isRelic,
            lockedToAccount,
            lockedToCharacter,
            memoryItem,
            replica,
            ruthless,
            seaRaceReward,
            searing,
            shaper,
            split,
            support,
            synthesised,
            tangled,
            thRaceReward,
            unmodifiable,
            veiled,
            verified,
            unmodifiableExceptChaos,
            foilVariation,
            ilvl,
            itemLevel,
            maxStackSize,
            publicStashChangeId,
            stackSize,
            talismanTier,
            h,
            socket,
            w,
            x,
            y,
            frameType
        FROM Item
        WHERE Item.publicStashChangeId = #{dbId}
		]]>
    </select>

    <delete id="removeEntity">
        <![CDATA[
			DELETE FROM Item
			WHERE dbId = #{dbId}
		]]>
    </delete>

    <insert id="insertCosmeticMod">
        INSERT INTO CosmeticMods (
        itemId,
        cosmeticMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertCraftedMod">
        INSERT INTO CraftedMods (
        itemId,
        craftedMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertCrucibleMod">
        INSERT INTO CosmeticMods (
        itemId,
        crucibleMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertEnchantMod">
        INSERT INTO EnchantMods (
        itemId,
        EnchantMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertExplicitMod">
        INSERT INTO ExplicitMods (
        itemId,
        explicitMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertFlavourText">
        INSERT INTO FlavourText (
        itemId,
        flavourText)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertFracturedMod">
        INSERT INTO FracturedMods (
        itemId,
        fracturedMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertImplicitMod">
        INSERT INTO ImplicitMods (
        itemId,
        implicitMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertScourgeMod">
        INSERT INTO ScourgeMods (
        itemId,
        scourgeMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertUtilityMod">
        INSERT INTO UtilityMods (
        itemId,
        utilityMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>

    <insert id="insertVeiledMod">
        INSERT INTO VeiledMods (
        itemId,
        veiledMod)
        VALUES
        (#{arg0}, #{arg1})
    </insert>
</mapper>