<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.5.10//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PhamKornbluhGroup.mybatismysqlimpl.IRewardsDTO">

    <resultMap id="RewardsDTOMap" type="com.PhamKornbluhGroup.DTO.RewardsDTO" autoMapping="false">
        <id property="dbId" column="dbId"/>
        <result property="itemId" column="itemId"/>
        <result property="label" column="label"/>
        <collection property="rewards" javaType="HashMap" ofType="java.lang.String"/>
    </resultMap>

    <select id="getEntityById" resultMap="RewardsDTOMap">
        <![CDATA[
        SELECT
            Rewards.dbId,
            Rewards.itemId,
            Rewards.category,
            Rewards.prefixes,
            Rewards.suffixes,
            Subcategories.subcategory
        FROM Rewards
        INNER JOIN Subcategories
        ON Subcategories.RewardsId = Rewards.dbId
        WHERE Rewards.dbId = #{dbId}
		]]>
    </select>

<!--    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="dbId">-->
<!--        <![CDATA[-->
<!--			INSERT INTO Rewards-->
<!--			    (itemId, layout, x, x, x, x, x)-->
<!--			VALUES (#{itemId}, #{layout})-->
<!--		]]>-->
<!--    </insert>-->

    <!--Doesn't Work-->
    <insert id="saveEntity" parameterType="java.util.List">
        INSERT INTO Rewards (
            (id, itemId, category, prefixes, suffixes, game_type)
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
            #{element}
        </foreach>
    </insert>

    <!--Doesn't Work-->
    <update id="updateEntity">
        <![CDATA[
			UPDATE Rewards
			SET itemId = #{itemId},
			    layout = #{layout}
			WHERE dbId = #{dbId}
		]]>
    </update>

    <!--Doesn't Work-->
    <delete id="removeEntity">
        <![CDATA[
			DELETE FROM Rewards
			WHERE dbId = #{dbId}
		]]>
    </delete>

</mapper>