<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.5.19//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyDTO">

        <!--
        Hybrid ==> Calls Select of ItemProperty
        ItemProperty ==> Calls Select of ItemPropertyValues

        Assume we select HybridDTO with dbid of 5
        Assume ItemPropertyDTO has personal DbId of 25, but has HybridId = 5 (Correctly linked to the parent)
        Assume ItemPropertyValuesDTO has personal DbId of 50, but has ItemPropertyId of 25 (Correctly linked to the parent)

        We need to make sure that when calling from Hybrid, down to ItemProperty, down to ItemPropertyValues
        that the correct DbId is being passed each time
        -->
    <resultMap id="ItemPropertyDTOMap" type="com.PhamKornbluhGroup.DTO.ItemPropertyDTO" autoMapping="false">
        <id property="dbId" column="dbId"/>
        <result property="itemId" column="itemId"/>
        <result property="hybridId" column="hybridId"/>
        <result property="name" column="name"/>
        <result property="progress" column="progress"/>
        <result property="type" column="type"/>
        <result property="suffix" column="suffix"/>
        <result property="icon" column="icon"/>
        <result property="propertyType" column="propertyType"/>
        <result property="displayMode" column="displayMode" javaType="com.PhamKornbluhGroup.DTO.DisplayMode" typeHandler="com.PhamKornbluhGroup.utilities.MybatisTypeHandlers.DisplayModeTypeHandler"/>
        <collection property="values" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.ItemPropertyValuesDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IItemPropertyValuesDTO.getEntityByItemPropertyId"/>
    </resultMap>

    <select id="getEntityById" resultMap="ItemPropertyDTOMap">
        <![CDATA[
        SELECT
            dbId,
            itemId,
            hybridId,
            name,
            displayMode,
            progress,
            type,
            suffix,
            icon,
            propertyType
        FROM ItemProperty
        WHERE ItemProperty.dbId = #{dbId}
		]]>
    </select>

    <select id="getEntityByHybridId" resultMap="ItemPropertyDTOMap">
        <![CDATA[
        SELECT
            dbId,
            itemId,
            hybridId,
            name,
            displayMode,
            progress,
            type,
            suffix,
            icon,
            propertyType
        FROM ItemProperty
        WHERE ItemProperty.hybridId = #{dbId}
		]]>
    </select>

    <select id="getPropertiesByItemId" resultMap="ItemPropertyDTOMap">
        <![CDATA[
        SELECT
            dbId,
            itemId,
            hybridId,
            name,
            displayMode,
            progress,
            type,
            suffix,
            icon,
            propertyType
        FROM ItemProperty
        WHERE ItemProperty.itemId = #{dbId}
            AND ItemProperty.propertyType = "Properties"
		]]>
    </select>

    <select id="getNotablePropertiesByItemId" resultMap="ItemPropertyDTOMap">
        <![CDATA[
        SELECT
            dbId,
            itemId,
            hybridId,
            name,
            displayMode,
            progress,
            type,
            suffix,
            icon,
            propertyType
        FROM ItemProperty
        WHERE ItemProperty.itemId = #{dbId}
            AND ItemProperty.propertyType = "Notable Properties"
		]]>
    </select>

    <select id="getRequirementsByItemId" resultMap="ItemPropertyDTOMap">
        <![CDATA[
        SELECT
            dbId,
            itemId,
            hybridId,
            name,
            displayMode,
            progress,
            type,
            suffix,
            icon,
            propertyType
        FROM ItemProperty
        WHERE ItemProperty.itemId = #{dbId}
            AND ItemProperty.propertyType = "Requirements"
		]]>
    </select>

    <select id="getAdditionalPropertiesByItemId" resultMap="ItemPropertyDTOMap">
        <![CDATA[
        SELECT
            dbId,
            itemId,
            hybridId,
            name,
            displayMode,
            progress,
            type,
            suffix,
            icon,
            propertyType
        FROM ItemProperty
        WHERE ItemProperty.itemId = #{dbId}
            AND ItemProperty.propertyType = "Additional Properties"
		]]>
    </select>

    <select id="getNextLevelRequirementsByItemId" resultMap="ItemPropertyDTOMap">
        <![CDATA[
        SELECT
            dbId,
            itemId,
            hybridId,
            name,
            displayMode,
            progress,
            type,
            suffix,
            icon,
            propertyType
        FROM ItemProperty
        WHERE ItemProperty.itemId = #{dbId}
            AND ItemProperty.propertyType = "Next Level Requirements"
		]]>
    </select>

    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="dbId" keyColumn="dbId">
        <![CDATA[
			INSERT INTO ItemProperty
			    (itemId, hybridId, name, displayMode,
			    progress, type, suffix, icon, propertyType)
			SELECT
			    CASE
			        WHEN #{itemId} <= 0 THEN NULL
			        ELSE #{itemId}
			    END,
			    CASE
			        WHEN #{hybridId} <= 0 THEN NULL
			        ELSE #{hybridId}
			    END,
			    #{name},
			    #{displayMode, javaType=com.PhamKornbluhGroup.DTO.DisplayMode, typeHandler=com.PhamKornbluhGroup.utilities.MybatisTypeHandlers.DisplayModeTypeHandler},
			    #{progress},
			    #{type},
			    #{suffix},
			    #{icon},
			    #{propertyType}
		]]>
    </insert>

    <!-- UNTESTED -->
    <update id="updateEntity">
        <![CDATA[
			UPDATE ItemProperty
			SET itemId = #{itemId},
			    hybridId = #{hybridId},
			    name = #{name},
			    displayMode = #{displayMode},
			    progress = #{progress},
			    type = #{type},
			    suffix = #{suffix},
			    icon = #{icon}
			WHERE dbId = #{dbId}
		]]>
    </update>

    <!-- UNTESTED -->
    <delete id="removeEntity">
        <![CDATA[
			DELETE FROM ItemProperty
			WHERE dbId = #{dbId}
		]]>
    </delete>

</mapper>