:root {

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*this darkens the image, but doesnt work when you scroll down*/
.root:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* adjust opacity for brightness */
    z-index: 0;
}

.parent {
    /*Height and Dimensions*/
    height: 94vh;
    min-height: 94vh;
    width: 90vw;
    margin: 0 auto;
    /* padding-top/bottom reserve space for the fixed header and footer. Since fixed, these are removed from
     document flow and would otherwise overlap content */
    padding-top: 6vh;
    padding-bottom: 2.5vh;

    /*Color and Alignment*/
    background-color: rgba(55, 57, 54, 0.15);
    justify-content: center;

    /*Border*/
    box-sizing: border-box;
    box-shadow: 3px 0 50px rgb(0, 0, 0, 90%);

    /*Flex Settings*/
    display: flex;
    flex-direction: row;
    flex-flow: column nowrap;

}

.main-body {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    min-height: 0;
    position: relative;
    overflow-y: visible;
    top: 0;
    font-size: inherit;
}

/*Scrollbar Behavior*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: rgb(48, 47, 47);
}
::-webkit-scrollbar-button {
    display: none;
}
/* Thumb styling */
::-webkit-scrollbar-thumb {
    background-color: rgba(64, 64, 64, 0.6);
    border-radius: 100px;
    border: solid rgba(228, 228, 228, 0.6);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(220, 218, 218, 0.9);
    border: solid rgba(244, 244, 244, 0.6);
    width: 18px;
    height: 18px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    /*display: flex;*/
    /*place-items: center;*/
    min-width: 320px;
    min-height: 100vh;

    font-size: 16px;
    background-image: url("/assets/pexels-eberhardgross-1743392.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: rgb(237, 236, 236);}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
/* button and button:* migrate to a header.css*/
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

