<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.5.19//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PhamKornbluhGroup.mybatismysqlimpl.IRewardsDTO">

    <resultMap id="RewardsDTOMap" type="com.PhamKornbluhGroup.DTO.RewardsDTO" autoMapping="false">
        <id property="dbId" column="dbId"/>
        <result property="itemId" column="itemId"/>
        <result property="label" column="label"/>
        <collection property="rewards" column="dbId" javaType="ArrayList"
                    ofType="com.PhamKornbluhGroup.DTO.RewardsCollectionDTO"
                    select="com.PhamKornbluhGroup.mybatismysqlimpl.IRewardsCollectionDTO.getEntityByRewardsId"/>
    </resultMap>

    <select id="getEntityById" resultMap="RewardsDTOMap">
        <![CDATA[
        SELECT
            Rewards.dbId,
            Rewards.itemId,
            Rewards.label
        FROM Rewards
        WHERE Rewards.dbId = #{dbId}
		]]>
    </select>

    <select id="getEntityByItemId" resultMap="RewardsDTOMap">
        <![CDATA[
        SELECT
            Rewards.dbId,
            Rewards.itemId,
            Rewards.label
        FROM Rewards
        WHERE Rewards.itemId = #{dbId}
		]]>
    </select>

    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="dbId">
        INSERT INTO Rewards (itemId, label)
        VALUES (#{itemId}, #{label})
    </insert>
</mapper>