<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.5.19//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PhamKornbluhGroup.mybatismysqlimpl.IPublicStashChangeDTO">

<resultMap id="FilteredStashResultsDTOMap" type="com.PhamKornbluhGroup.DTO.PublicStashChangeDTO" autoMapping="false">
    <id     property="dbId"        column="psc_dbId"/>
    <result property="resultId"    column="psc_resultId"/>
    <result property="id"          column="psc_id"/>
    <result property="isPublic"    column="psc_isPublic"/>
    <result property="accountName" column="psc_accountName"/>
    <result property="stash"       column="psc_stash"/>
    <result property="stashType"   column="psc_stashType"/>
    <result property="league"      column="psc_league"/>

    <collection property="items"
                javaType="ArrayList"
                resultMap="com.PhamKornbluhGroup.mybatismysqlimpl.IItemDTO.ItemDTOMap"/>
</resultMap>

    <select id="findStashesByCustomParameters" resultMap="FilteredStashResultsDTOMap">
        <![CDATA[
        SELECT
            p.dbId        AS psc_dbId,
            p.resultId    AS psc_resultId,
            p.id          AS psc_id,
            p.isPublic    AS psc_isPublic,
            p.accountName AS psc_accountName,
            p.stash       AS psc_stash,
            p.stashType   AS psc_stashType,
            p.league      AS psc_league,
            i.dbid,
            i.artFilename,
            i.baseType,
            i.colour,
            i.flavourTextNote,
            i.forum_note,
            i.icon,
            i.id,
            i.inventoryId,
            i.league,
            i.name,
            i.note,
            i.prophecyText,
            i.rarity,
            i.secDescrText,
            i.stackSizeText,
            i.typeLine,
            i.abyssJewel,
            i.cisRaceReward,
            i.corrupted,
            i.delve,
            i.duplicated,
            i.elder,
            i.foreseeing,
            i.fractured,
            i.identified,
            i.isRelic,
            i.lockedToAccount,
            i.lockedToCharacter,
            i.memoryItem,
            i.replica,
            i.ruthless,
            i.seaRaceReward,
            i.searing,
            i.shaper,
            i.split,
            i.support,
            i.synthesised,
            i.tangled,
            i.thRaceReward,
            i.unmodifiable,
            i.veiled,
            i.verified,
            i.unmodifiableExceptChaos,
            i.foilVariation,
            i.ilvl,
            i.itemLevel,
            i.maxStackSize,
            i.publicStashChangeId,
            i.stackSize,
            i.talismanTier,
            i.h,
            i.socket,
            i.w,
            i.x,
            i.y
        FROM PublicStashChange p
        JOIN Item i
        ON i.publicStashChangeId = p.dbId
        WHERE
            (#{accountName} IS NULL OR p.accountName = #{accountName})
            AND (#{artFilename} IS NULL OR i.artFilename = #{artFilename})
            AND (#{baseType} IS NULL OR i.baseType = #{baseType})
            AND (#{colour} IS NULL OR i.colour = #{colour})
            AND (#{flavourTextNote} IS NULL OR i.flavourTextNote = #{flavourTextNote})
            AND (#{forum_note} IS NULL OR i.forum_note = #{forum_note})
            AND (#{icon} IS NULL OR i.icon = #{icon})
            AND (#{inventoryId} IS NULL OR i.inventoryId = #{inventoryId})
            AND (#{league} IS NULL OR i.league = #{league})
            AND (#{name} IS NULL OR i.name = #{name})
            AND (#{note} IS NULL OR i.note = #{note})
            AND (#{prophecyText} IS NULL OR i.prophecyText = #{prophecyText})
            AND (#{rarity} IS NULL OR i.rarity = #{rarity})
            AND (#{secDescrText} IS NULL OR i.secDescrText = #{secDescrText})
            AND (#{stackSizeText} IS NULL OR i.stackSizeText = #{stackSizeText})
            AND (#{typeLine} IS NULL OR i.typeLine = #{typeLine})
            AND (#{abyssJewel} IS NULL OR i.abyssJewel = #{abyssJewel})
            AND (#{cisRaceReward} IS NULL OR i.cisRaceReward = #{cisRaceReward})
            AND (#{corrupted} IS NULL OR i.corrupted = #{corrupted})
            AND (#{delve} IS NULL OR i.delve = #{delve})
            AND (#{duplicated} IS NULL OR i.duplicated = #{duplicated})
            AND (#{elder} IS NULL OR i.elder = #{elder})
            AND (#{foreseeing} IS NULL OR i.foreseeing = #{foreseeing})
            AND (#{fractured} IS NULL OR i.fractured = #{fractured})
            AND (#{identified} IS NULL OR i.identified = #{identified})
            AND (#{isRelic} IS NULL OR i.isRelic = #{isRelic})
            AND (#{lockedToAccount} IS NULL OR i.lockedToAccount = #{lockedToAccount})
            AND (#{lockedToCharacter} IS NULL OR i.lockedToCharacter = #{lockedToCharacter})
            AND (#{memoryItem} IS NULL OR i.memoryItem = #{memoryItem})
            AND (#{replica} IS NULL OR i.replica = #{replica})
            AND (#{ruthless} IS NULL OR i.ruthless = #{ruthless})
            AND (#{seaRaceReward} IS NULL OR i.seaRaceReward = #{seaRaceReward})
            AND (#{searing} IS NULL OR i.searing = #{searing})
            AND (#{shaper} IS NULL OR i.shaper = #{shaper})
            AND (#{split} IS NULL OR i.split = #{split})
            AND (#{support} IS NULL OR i.support = #{support})
            AND (#{synthesised} IS NULL OR i.synthesised = #{synthesised})
            AND (#{tangled} IS NULL OR i.tangled = #{tangled})
            AND (#{thRaceReward} IS NULL OR i.thRaceReward = #{thRaceReward})
            AND (#{unmodifiable} IS NULL OR i.unmodifiable = #{unmodifiable})
            AND (#{veiled} IS NULL OR i.veiled = #{veiled})
            AND (#{verified} IS NULL OR i.verified = #{verified})
            AND (#{unmodifiableExceptChaos} IS NULL OR i.unmodifiableExceptChaos = #{unmodifiableExceptChaos})
            AND (#{foilVariation} IS NULL OR i.foilVariation = #{foilVariation})
            AND (#{ilvl} IS NULL OR i.ilvl = #{ilvl})
            AND (#{itemLevel} IS NULL OR i.itemLevel = #{itemLevel})
            AND (#{maxStackSize} IS NULL OR i.maxStackSize = #{maxStackSize})
            AND (#{stackSize} IS NULL OR i.stackSize = #{stackSize})
            AND (#{talismanTier} IS NULL OR i.talismanTier = #{talismanTier})
            AND (#{socket} IS NULL OR i.socket = #{socket})
        ORDER BY p.dbId, i.dbId
        ]]>
    </select>

</mapper>