<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.5.19//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PhamKornbluhGroup.mybatismysqlimpl.IPublicStashChangeDTO">

<resultMap id="FilteredStashResultsDTOMap" type="com.PhamKornbluhGroup.DTO.PublicStashChangeDTO" autoMapping="false">
    <id     property="dbId"        column="psc_dbId"/>
    <result property="resultId"    column="psc_resultId"/>
    <result property="id"          column="psc_id"/>
    <result property="isPublic"    column="psc_isPublic"/>
    <result property="accountName" column="psc_accountName"/>
    <result property="stash"       column="psc_stash"/>
    <result property="stashType"   column="psc_stashType"/>
    <result property="league"      column="psc_league"/>

    <collection property="items"
                javaType="ArrayList"
                resultMap="com.PhamKornbluhGroup.mybatismysqlimpl.IItemDTO.ItemDTOMap"/>
</resultMap>

    <select id="findStashesByItemNameAndLeague" resultMap="FilteredStashResultsDTOMap">
        <![CDATA[
        SELECT
            p.dbId        AS psc_dbId,
            p.resultId    AS psc_resultId,
            p.id          AS psc_id,
            p.isPublic    AS psc_isPublic,
            p.accountName AS psc_accountName,
            p.stash       AS psc_stash,
            p.stashType   AS psc_stashType,
            p.league      AS psc_league,
            i.dbid,
            i.artFilename,
            i.baseType,
            i.colour,
            i.flavourTextNote,
            i.forum_note,
            i.icon,
            i.id,
            i.inventoryId,
            i.league,
            i.name,
            i.note,
            i.prophecyText,
            i.rarity,
            i.secDescrText,
            i.stackSizeText,
            i.typeLine,
            i.abyssJewel,
            i.cisRaceReward,
            i.corrupted,
            i.delve,
            i.duplicated,
            i.elder,
            i.foreseeing,
            i.fractured,
            i.identified,
            i.isRelic,
            i.lockedToAccount,
            i.lockedToCharacter,
            i.memoryItem,
            i.replica,
            i.ruthless,
            i.seaRaceReward,
            i.searing,
            i.shaper,
            i.split,
            i.support,
            i.synthesised,
            i.tangled,
            i.thRaceReward,
            i.unmodifiable,
            i.veiled,
            i.verified,
            i.unmodifiableExceptChaos,
            i.foilVariation,
            i.ilvl,
            i.itemLevel,
            i.maxStackSize,
            i.publicStashChangeId,
            i.stackSize,
            i.talismanTier,
            i.h,
            i.socket,
            i.w,
            i.x,
            i.y
        FROM PublicStashChange p
        JOIN Item i
        ON i.publicStashChangeId = p.dbId
        WHERE i.name = #{itemName}
        AND p.league = #{league}
        ORDER BY p.dbId, i.dbId
        ]]>
    </select>

</mapper>